{
  type: 'object'
  $schema: 'http://json-schema.org/draft-03/schema#'
  id: 'http://schema.cardwirth.org/effect#'
  required: true
  additionalProperties: false
  properties:
    element:
      description: '全, 肉体, 精神, 神聖, 魔力, 炎, 冷'
      required: true
      enum: ['non', 'body', 'mind', 'holy', 'spell', 'fire', 'cold']

    type:
      description: '回復, ダメージ, 吸収, 麻痺状態, 麻痺解除, 中毒状態, 中毒解除, 精神力回復, 精神力不能, 睡眠状態, 混乱状態, 激昂状態, 勇敢状態, 恐慌状態, 正常状態, 束縛状態, 束縛解除, 沈黙状態, 沈黙解除, 暴露状態, 暴露解除, 魔法無効化状態, 魔法無効化解除, 行動力変化, 回避力変化, 抵抗力変化, 防御力変化, 対象消去, カード消去, 召喚獣消去, 通常攻撃, 渾身の一撃, 会心の一撃, フェイント, 防御, 見切り, 混乱, 特殊技能, 召喚獣召喚'
      required: true
      enum: ['heal', 'damage', 'absorb', 'paralyze', 'disParalyze', 'poison', 'disPoison', 'recoverSkillPoint', 'loseSkillPoint', 'sleep', 'confuse', 'overheat', 'encourage', 'panic', 'relaxMind', 'bind', 'disBind', 'silence', 'disSilence', 'reveal', 'conceal', 'enableMagicproof', 'disableMagicproof', 'enhanceActionLevel', 'enhanceEvasion', 'enhanceResistance', 'enhanceDefense', 'vanishTarget', 'vanishCards', 'vanishBeasts', 'dealAttackCard', 'dealPowerfulAttackCard', 'dealCriticalAttackCard', 'dealFeintCard', 'dealDefenseCard', 'dealDistanceCard', 'dealConfuseCard', 'dealSkillCard', 'summonBeast']

    damageType:
      id: '#damageType'
      description: 'レベル比, 効果値, 最大値'
      enum: ['levelRatio', 'default', 'max']

    value:
      type: 'integer'

    duration:
      type: 'integer'

    beastCards:
      id: '#eventElements'
      type: 'array'
      additionalItems: false
      items:
        $ref: 'http://schema.cardwirth.org/beast_card'
}
